
@font-face {
    font-family: 'mh';
    src: url(recursos/fonts/MonsterHunter-KLDp.otf);
    font-weight: bold;
    font-style: bold;
}

*{
    scrollbar-width: none;
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
   
   
}
#mainIndex{
    min-height: 100vh;
    position: relative;
}


h1{
 font-family: 'mh';
 font-weight: bold;
 font-size: 5vh;
 margin: 0 auto;
 color: white;

}
header{
    width: 100%;
    height: 10vh;
}
.menu {
    position: fixed;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    background: url('recursos/abrir\ menu.png') center/cover no-repeat;
    transition: all 0.2s ease-out;
    z-index: 3;  
    right: 1.8rem;
    top: 0.5rem;
}

.btnMenu{
    display: flex;
    flex-direction: column;
    gap: .57rem;
    width: 2rem;
    height: 2rem;
    z-index: 3;
    background: transparent;
    border: none;
    transform: translate(2rem, 2.1rem);
    
}

.btnMenu > span{
    transition: all .5s;
    background-color: #fff;
    height: .15rem;
    width: 100%; 
    border-radius: 5px;
    transform-origin: left;
}

.btnMenu:hover span:first-child{ 
    transform: rotate(45deg);
}


.btnMenu:hover span:nth-child(2){
    opacity: 0;
    
}

.btnMenu:hover span:last-child{
   
    transform: rotate(-45deg);
}


#background{
    position: relative;
    height: 155vh; 
    width: 100%;   
}
 #bgVideo1, #bgResponsive1{
    position: fixed; 
   
    width: 100%; 
    height: 100%; 
    transition: all 0.3s ease;
    object-fit: cover; 
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bgResponsive1{ display: none;}



#logo{
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 2;
    transform: translateY(-125vh);
    align-items:  center;
    width: 100%;
    height:fit-content;
    margin: 0 auto;
    
}



.imgLogo{
    height: 25vh; 
}

.transition {
    height: 1vh;
    background-image: url(recursos/transition.png);
    background-size:cover;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-1vh);

}

#noticias, #productos{
position: relative;
    display: flex;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 155vh; 
    width: 100%; 
    z-index: 2;
    top: 50%;
   
}

#noticias{background-image: url(recursos/bgImagen0.jpg); }

#productos{background-image: url(recursos/bgImagen2.JPEG); }

footer{
    
    height: 20vh;
    text-align: left;
}
.mask{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 pointer-events: none;
 z-index: 1;
 background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
 opacity: 0;
 transition: opacity 0.3s ease;
}


@media (65vh > width) {
    #bgVideo1{ display: none;}
    #bgResponsive1{ display: block;}
}