
@font-face {
    font-family: 'mh';
    src: url(recursos/fonts/MonsterHunter-KLDp.otf);
    font-weight: bold;
    font-style: bold;
}

*{
    scrollbar-width: none;
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    height: auto;
    line-height: 1.5;
    background-color: #000;
    color: #dcdcdc;
   
   
}
#mainIndex{
    min-height: 155vh;
    position: relative;
}


h2{
    line-height: 1.2;
}


.menuIcon {
    position: fixed;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    background: url('recursos/abrir\ menu.png') center/cover no-repeat;
    transition: all 0.2s ease-out;
    z-index: 3;  
    right: 1.8rem;
    top: 0.5rem;
}



.btnMenu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: .57rem;
    width: 2rem;
    height: 2rem;
    z-index: 3;
    background: transparent;
    border: none;
    transform: translate(2rem, 2.1rem);
    
}

.btnMenu > span{
    transition: all .5s;
    background-color: #fff;
    height: .15rem;
    width: 100%; 
    border-radius: 5px;
    transform-origin: left;
}

.menu:hover span:first-child{ transform: rotate(45deg);}


.menu:hover span:nth-child(2){opacity: 0;}

.menu:hover span:last-child{transform: rotate(-45deg);}

.menu { 
    display: none; 
    
    position: fixed; 
    width: 100%;
    height: 100%;
    background-color: #333; 
 
    } 

.menu a { color: white; 
    text-decoration: none; 
    padding: 10px; 
    transition: background-color 0.3s; } 
        
.menu a:hover { background-color: #555; }

#background{
    position: relative;
    height: 100%; 
    width: 100%;   
}
 #bgVideo1, #bgResponsive1{
    position: fixed;  
    width: 100%; 
    height: 100%; 
    transition: all 0.3s ease;
    object-fit: cover; 
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bgResponsive1{ display: none;}



#logo{
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 2;
   
    align-items:  center;
    width: 100%;
    height:fit-content;
    margin: 0 auto;  
    top: 50%; 
    transform: translateY(-130%); 
}



.imgLogo{
    height: 25vh; 
}

.transition {
    height: 1vh;
    background-image: url(recursos/transition.png);
    background-size:cover;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-1vh);

}

#noticias, #guia{
    
position: relative;
display: inline-block;
background-size:cover;
background-position: center center;
background-repeat: no-repeat;
font-family: Markazi Text, "source-han-serif-japanese", serif;
font-weight: 400;
text-shadow: 0 0 16px rgba(0, 0, 0, .4);
height: 155vh; 
width: 100%; 
z-index: 2;
top: 50%;
}


#guia{background-image: url(recursos/bgImagen0.jpg); }

.title_text_shadow {
    font-size: 6.5rem;
    position: absolute;
    z-index: -1;
    top: 1rem;
    left: 2rem;
    opacity: .2;
}

.title_text_letter{
    font-size: 6rem;
    color: #fff;
}



#noticias{background-image: url(recursos/bgImagen2.JPEG); }

/* utilidades*/
footer{
    filter: brightness(1.3);
    text-shadow: 0 0 12px rgba(242, 255, 3, .8);
    height: 20vh;
    text-align: left;
}
.mask{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 pointer-events: none;
 z-index: 1;
 background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
 opacity: 0;
 transition: opacity 0.3s ease;
}

.space{
    height: 12vh;
}

/*medias querys*/
@media (65vh > width) {
    #bgVideo1{ display: none;}
    #bgResponsive1{ display: block;}
}