.modalValidacion{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    align-self: center;
    background-image: url("/recursos/border_video.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.textContainer{
    display: flex;
    flex-direction: row;
}
.botonCerrar{
    cursor: pointer;
    font-size: 20px;
    padding: 2px 20px
}
.modalContainer{
    position: relativea;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.651);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

.borde1{
    top: 1rem;
    left: 1rem;
    position: absolute;
    width: 100px;
    transform:  scale(-1,1);
}
.borde2{
    top: 1rem;
    right: 1rem;
    position: absolute;
    width: 100px;
}
.borde3{
    bottom: 1rem;
    right: 1rem;
    position: absolute;
    width: 100px;
    rotate: 180deg;
    transform:  scale(-1,1);

}
.borde4{
    bottom: 1rem;
    left: 1rem;
    position: absolute;
    width: 100px;
    rotate: 180deg;
}
.animationBorder{
    animation-name: ani-opcity;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes ani-opcity {
    0%{
      opacity: 0;
    }
    25%{
      opacity: 0.25;
    }
    50%{
      opacity: 0.5;
    }
    75%{
      opacity: 0.75;
    }
    100%{
      opacity: 1;
    }
  }
