#busquedaResult {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.liMonstro {
  cursor: pointer;
  max-width: 300px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  background-image: url("/recursos/BgImagen3.webp");
  margin-bottom: 5px;
  justify-content: space-between;
  border-radius: 4px;
  display: flex;
  align-items: center;

}
.liMonstro:hover{
  filter: drop-shadow(0,0,20px white);
}
.monstroImagenCard {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}
.contenidoMonstro{
  width: 100%;
  h3{
    text-align: center;
    font-size: 24px;
    color: black;
  }
}
