/* Contenedor principal del Menu */
#contenedor2 {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(/recursos/bg_menu_pc.webp);
  background-size: cover;
  background-position: top;
  height: 100vh;
}
/* Estilos del NavBar */
.menuButton{
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
  width: fit-content;
  height: min-content;
  background-color: transparent;
  border: none;
  font-family: Markazi Text, "source-han-serif-japanese", serif;
  color: #dcdcdc;
  font-size: 30px;
}

.menu_nav{
  padding: 24px;
  flex-direction: row;
  display: flex;
  gap: 24px
}
  
.menu_nav a{
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: .05em;
  line-height: 1.2;
  transition: all .25s ease-out;
  opacity: .9;
  filter: drop-shadow(0 0 .75rem rgba(0, 0, 0, .1)) drop-shadow(0 0 .75rem rgba(0, 0, 0, .1));
}
 
/* Container del API */
#resultados{
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  padding: 30PX;
  gap: 30px;
  flex-wrap: wrap;
}

/* estilos para los elementos creado por JS */
.monstroCard{
  cursor: pointer;
  width: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
}
.monstroCard:hover{
  background-color: #5555554d;
  border-radius: 8px;
}
.monstroImagenCard{
  width: 200px;
  height: 200px;
}


.contenedor2_bg{
  background-image: url(/recursos/bg_menu_pc.jpg);
}

.menu_nav{
  padding: 24px;
  flex-direction: row;
  display: flex;
  gap: 24px
}

.menu_nav, a {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: .05em;
  line-height: 1.2;
  transition: all .5s ease-out;
  opacity: .9;
  
}

.menuButton:hover {
 filter: drop-shadow(0 0 .75rem rgb(241, 175, 31)) drop-shadow(0 0 .75rem rgb(241, 175, 31)); 
}

 .menuButton:active {
  filter: drop-shadow(0 0 .75rem rgb(250, 225, 84)) drop-shadow(0 0 .75rem rgb(250, 225, 84)); 
}

 .menuButton:checked {
  color: #9e9e9e;
}


.menu_nav,  li{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 0 .5rem;
}
.agregarMonstruo{
  cursor: pointer;
  bottom: 4rem;
  right: 4rem;
  background-color: transparent;
  width: max-content;
  position: fixed;
  border: none;
  p{
    top:50%;
    left: 25%;
    line-height: 0;
    position: absolute;
    color: white;
    font-size: 50px;
  }
}
.botonAgregar{
  width: 50px;
  height: 50px;
}
.agregarMonstruo:hover{
  p{
    color: rgba(71, 167, 15, 0.886);
  }

  .botonAgregar{
    filter: sepia(100%);
  }
}
@media (758px > width) { 
  .menu_nav{
    padding: 12px;
    flex-direction:column;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  #contenedor2{
    background-image: url(/recursos/bg_menu_movil.jpg);
  }
  #resultados{
    justify-content: center;
  }
}