/*===================== Contenedor principal del Menu =====================*/
#contenedor2 {
  display: none;
  flex-direction: column;
  position: fixed;
  align-items: center;
  z-index: 4;
  width: 100%;
  top: 0;
  background-image: url(/recursos/bg_menu_pc.webp);
  background-size: cover;
  background-position: top;
  height: 100vh;
  padding: 1rem;
  overflow-y: scroll;
}
.contenedor2_bg {
  background-image: url(/recursos/bg_menu_pc.jpg);
}

/* =============================================================== */

/*===================== Estilos del NavBar =====================*/
.menuButton {
  text-decoration: none;
  transition: background-color 0.3s;
  width: fit-content;
  height: min-content;
  background-color: transparent;
  border: none;
  font-family: Markazi Text, "source-han-serif-japanese", serif;
}

.menu_nav {
  flex-direction: row;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.menu_nav > li {
  position: relative;
  left: 10%;
  width: 100%;
}

.menu_nav {
  margin-top: 6rem;
  padding: 0 0 0.5rem;
}

.menu_nav > li {
  margin-bottom: 1rem;
}

.menu_nav a,
.menuButton {
  color: #dcdcdc;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.2;
  transition: all 0.25s ease-out;
  opacity: 0.99;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.1))
    drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.1));
}

.menuButton::before {
  content: "";
  background-image: url(/recursos/decoraciones/decoracion\ 3.png);
  background-size: cover;
  height: 3rem;
  width: 3rem;
  left: -3.5rem;
  position: absolute;
}

.menuButton::after {
  content: "";
  display: none;
  background-image: url(/recursos/decoraciones/glowIcon.png);
  background-size: cover;
  height: 3rem;
  width: 3rem;
  left: -3.5rem;
  top: 0;
  position: absolute;
}
.menuButton:hover::after {
  display: flex;
  animation: saturate 1.5s infinite;
}

.menuButton:hover {
  filter: drop-shadow(0 0 0.75rem rgb(241, 175, 31))
    drop-shadow(0 0 0.75rem rgb(241, 175, 31));
}

.menuButton:active {
  filter: drop-shadow(0 0 0.75rem rgb(250, 225, 84))
    drop-shadow(0 0 0.75rem rgb(250, 225, 84));
}

.menuButton:checked {
  color: #9e9e9e;
}

/* ==================================================================================== */

/*===================== Container del API =====================*/
#resultados {
  width: fit-content;
  height: 600px;
  justify-content: left;
  flex-wrap: wrap;
  padding-top: 1rem;
  overflow-y: scroll;
}
/* =============================================================== */

/*===================== estilos para los elementos creado por JS =====================*/
.monstroCard {
  border-inline: 5rem;
  cursor: pointer;
  height: 35%;
  aspect-ratio: 4/4;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
}

.monstroCard:hover {
  filter: drop-shadow(0 0 1rem rgba(202, 183, 8, 0.185))
    drop-shadow(0 0 0.5rem rgba(133, 130, 5, 0.1));
  border-radius: 8px;
}
/* =============================================================== */

/*===================== boton inferior derecho =====================*/
.agregarMonstruo {
  cursor: pointer;
  bottom: 4rem;
  right: 4rem;
  background-color: transparent;
  width: max-content;
  position: fixed;
  border: none;
  z-index: 4;

  p {
    top: 50%;
    left: 25%;
    line-height: 0;
    position: absolute;
    color: white;
    transition: color 1s;
    font-size: 50px;
  }
}

.botonAgregar {
  width: 50px;
  height: 50px;
}

.agregarMonstruo:hover {
  p {
    color: rgba(71, 167, 15, 0.886);
  }

  .botonAgregar {
    filter: sepia(100%);
  }
}
/* =============================================================== */

/*===================== Cambiar estilos cuando llegue a un tamano en especifico =====================*/
@media (758px > width) {
  .menu_nav {
    padding: 12px;
    flex-direction: column;
  }

  .menu_nav > li {
    left: 50%;
  }

  #contenedor2 {
    background-image: url(/recursos/bg_menu_movil.jpg);
  }

  #resultados {
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .monstroCard {
    height: 230px;
    flex-direction: column;
    font-size: 20px;
  }
}
/* ==================================================================================== */

/*===================== Animaciones =====================*/
@keyframes saturate {
  0% {
    opacity: 0.2;
    filter: saturate(100%);
    filter: drop-shadow(0 0 0.25rem rgba(240, 255, 0, 0.1))
      drop-shadow(0 0 0.25rem rgba(240, 255, 0, 0.1));
  }

  50% {
    opacity: 1;
    filter: saturate(200%);
    filter: drop-shadow(0 0 0.25rem rgba(238, 255, 0, 0.754))
      drop-shadow(0 0 0.25rem rgba(240, 255, 0, 0.6));
  }

  100% {
    filter: saturate(100%);
    opacity: 0.2;
    filter: drop-shadow(0 0 0.25rem rgba(240, 255, 0, 0.1))
      drop-shadow(0 0 0.25rem rgba(240, 255, 0, 0.1));
  }
}

@keyframes regreso {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
    /* Puedes modificar este valor para obtener el efecto deseado */
  }
}
/* =============================================================== */
