
#contenedor2 {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(/recursos/bg_menu_pc.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    
  }

  .contenedor2_bg{
    background-image: url(/recursos/bg_menu_movil.jpg);
    background-size: cover;
    background-position: top;
   }

  .menu{

  }
  .menuButton{
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
    width: fit-content;
    height: min-content;
    background-color: transparent;
    border: none;
    color: #dcdcdc;
    text-decoration: none;
    font-size: 30px;
  }
  .menuButton:hover{
    background-color: #555;
    color: rgb(0, 140, 255);
  }
  .menuButton:active{
    color: rgb(0, 4, 255);
  }
  .menuButton:checked{
    color: #9e9e9e;
  }


  #resultados{
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    padding: 30PX;
    gap: 30px;
    flex-wrap: wrap;
  }

  /* estilos para los elementos creado por JS */
  .monstroCard{
    cursor: pointer;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
  }
  .monstroCard:hover{
    background-color: #5555554d;
    border-radius: 8px;
  }
  .monstroImagenCard{
    width: 200px;
    height: 200px;
  }


.contenedor2_bg{
  background-image: url(/recursos/bg_menu_pc.jpg);
}

.menu_nav{
  padding: 24px;
  flex-direction: row;
  display: flex;
  gap: 24px
}

.menu_nav, a{
  color: #fff;

  transition: all .25s ease-out;
  opacity: .9;
  filter: drop-shadow(0 0 .75rem rgba(0, 0, 0, .1)) drop-shadow(0 0 .75rem rgba(0, 0, 0, .1));
}

.menu_nav,  li{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 0 .5rem;
}